---
layout: default
title: Dynamic Page
---

{% include navbar.html %}

{% include header.html %}

<!-- Portfolio Grid Section -->
<section id="dynamic-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Dynamic Content</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">

      <div class="col-sm-6">
        <div id="flip-clock"></div>

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="http://placekitten.com/780/400" alt="...">
              <div class="carousel-caption">
                  <h3>One liner</h3>
              </div>
            </div>
            <div class="item">
              <img src="http://placekitten.com/780/400" alt="...">
              <div class="carousel-caption">
                  <h3>Another one liner</h3>
              </div>
            </div>
            <div class="item">
              <img src="http://placekitten.com/780/400" alt="...">
              <div class="carousel-caption">
                  <h3>Last one liner</h3>
              </div>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div> <!-- Carousel -->
      </div>

      <div class="col-sm-6">
        <h3>Dynamic text. Letter and length changes!</h3>
        <div class="lorem-ipsum" data-lorem="1-3p"></div>
      </div> <!-- Lorem Ipsum -->
    </div>
  </div>
</section>

{% include main.html %}

<script>
// Init flip clock.
$('#flip-clock').FlipClock();
</script>
